<div class="promocoes">
    <app-promotion-widget widget='promo'></app-promotion-widget>
</div>

<div class="produtos">
    <table>
        <tr>
            <td>Produto</td>
            <td>Preço</td>
            <td>Ações</td>
        </tr>
        <tr *ngFor='let p of products'>
            <td>{{p['name']}}</td>
            <td>{{p['price']}}</td>
            <td>
                <button>Comprar</button>
            </td>
        </tr>
    </table>
</div>
<div class="promocoes">
    <app-promotion-widget widget='card'></app-promotion-widget>
    <app-promotion-widget widget='info'></app-promotion-widget>
</div>