@import "src/assets/styles/_colors.scss";
@import "src/assets/styles/_themes.scss";

.c-payments {
  display: flex;
  flex-direction: column;
  background-color: $alelo-gray-brand-50;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 26px;
  }

  &__content {
    &--view-products {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    &--table {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 500px;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 26px;

    &--card {
      width: 100%;
      margin: 8px 16px;
    }
  }
}
