$alelo-brand-100: #f9fffe;
$alelo-brand-200: #79d1ba;
$alelo-brand-300: #45af93;
$alelo-brand-400: #1da17e;
$alelo-brand-500: #0e7f61;

$alelo-default-100: #edf8c1;
$alelo-default-200: #d2e77f;
$alelo-default-300: #bdd753;
$alelo-default-400: #adc93d;
$alelo-default-500: #91ac25;

$alelo-gray-brand-50: #ffffff;
$alelo-gray-brand-100: #efefef;
$alelo-gray-brand-200: #696969;
$alelo-gray-brand-300: #505050;
$alelo-gray-brand-400: #000000;

// #737373;
